body {
    display: flex;
    flex-direction: column;
}

/*  HEADER */

.header img {
    height: 60px;
    width: 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: sp;
    padding: 0px 10px;
}

/*  HERO */

.hero img {
    height: 250px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.info *{
    margin: 10px;
}

/* IMAGES */

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groups {
    display: flex;
    gap: 35px;
    text-align: center;
}

.groups img {
    max-width: 150px;
    max-height: 150px;
}

/* QUOTE */

.quote {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 150px;
}

.quote h2 {
    align-self: flex-start;
}

.quote p {
    align-self: flex-end;
}

/* ACTION */

.action {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    background-color: aqua;
    gap: 90px;
    padding: 20px 75px;
}

.call p {
    margin: 0;
}

.box button {
    height: fit-content;
    width: 100px;
    align-self: center;
}