@font-face {
    font-family: 'SF-SemiB';
    src: url(fonts/SFMono-Semibold.otf);
}

@font-face {
    font-family: 'SF-Heavy';
    src: url(fonts/SFMono-Heavy.otf);
}

@font-face {
    font-family: 'SF-Regular';
    src: url(fonts/SFMono-Regular.otf);
}

@font-face {
    font-family: 'SF-RegularItalics';
    src: url(fonts/SFMono-RegularItalic.otf);
}

body {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'SF-Regular';
}

.italics {
    font-style: italic;
}

/*  HEADER */

.header img {
    height: 50px;
    width: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #F5F5F6;
    margin: 0;
}

.links {
    display: flex;
    gap: 15px;
    font-family: "SF-SemiB";
    word-spacing: -5px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #2A77ED;
}

/*  HERO */

.hero img {
    height: 225px;
    border-radius: 20px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 50px 25px;
}

.info * {
    margin: 10px;
}

.hero h1 {
    font-family: 'SF-Heavy';
}

.hero .italics {
    color: #2A77ED;
}

.hero button {
    background-color: #F5F5F6;
    color: #2A77ED;
    border-color: #2A77ED;
    border-width: 1px;
    border-radius: 500px;
    padding: 10px;
}

.hero button:hover {
    background-color: #2A77ED;
    color: #F5F5F6;
}

/* IMAGES */

.images {
    background-color: #F5F5F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding: 50px 25px;
}

.images h3 {
    font-family: "SF-SemiB";
    font-weight: 1000;
    font-size: x-large;
    color: #2A77ED;
}

.groups {
    display: flex;
    gap: 60px;
    text-align: center;
    color: #2A77ED;
}

.groups p {
    margin-bottom: 0;
}

.groups img {
    max-width: 150px;
    max-height: 150px;
    border: 3px solid black;
    padding: 10px;
    border-radius: 10px;
}

/* QUOTE */

.quote {
    padding: 50px 25px; 
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 300px;
    max-width: 75vw;
}

.quote h2 {
    align-self: flex-start;
}

.quote p {
    align-self: flex-end;
}

/* ACTION */

.action {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    background-color: aqua;
    gap: 90px;
    padding: 20px 75px;
}

.call p {
    margin: 0;
}

.box button {
    height: fit-content;
    width: 100px;
    align-self: center;
}

/* FOOTER */

.content {
    flex-grow: 1;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #F5F5F6;
    font-family: "SF-SemiB";
    flex-grow: 0;
}